.cards{
    overflow: scroll;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    padding: 1rem;
    padding-bottom: 10rem;
    
    

    .card{
        flex-basis: 20rem;
        max-width: 30rem;
        flex-grow: 1;
        padding-inline:1rem;
        padding-block: 0.5rem;
        background-color: rgb(32, 30, 30);
        color:white;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: 1rem;
        img{
            width: 100%;
            border-radius: 1rem;
            
        }

        h1{
            font-size: 1.5rem;
            font-weight: 500;

            
        }
        .description{
            opacity: 0.7;
            word-spacing: 0.4rem;
            line-height: 1.3rem;
        }
        .tags{
            display: flex;
            gap: 0.75rem;
            flex-wrap: wrap;
            
            .tag{
                background-color:#353735;
                width: fit-content;
                padding-inline:1.25rem;
                padding-block: 0.75rem;
                border-radius: 0.75rem;
                word-wrap: nowrap;
            }
        }

        .urls{
            display: flex;
            gap: 1rem;
            a{
                color:white;
            }
        }
    }
}