.window{
    background-color: black;
    border-radius:0.75rem;
    height: 100%;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(168, 168, 168); 
    font-weight: 500;
    



    .nav{
        padding-inline:0.75rem;
        padding-block: 0.5rem;
        border-bottom: 1px solid whitesmoke;
        display: flex;
        align-items: center;
        gap: 1.5rem;
        .dots{
            display: flex;
            gap: 0.25rem;

            .dot{
            height: 15px;
            width: 15px;
            border-radius: 50%;
            background-color: white;

        }

        .red{
                background-color: #ff605c;
            }

            .yellow{
                background-color: #ffbd44;
            }

            .green{
                background-color: #00ca4e;
            }

        }
        
    }

    .main-content{
        height: 100%;
    }

}