.note-window{
    height: 100%;
    padding:1rem;
    padding-bottom: 10rem;
    overflow: auto;
    font-size: 1.1rem;

    pre{

        background-color: transparent !important;
    }

    
      


}